*{
    box-sizing: border-box;
    max-width: 100%;
}

body{
    margin: 0;
}

header{
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    top: 70px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    
}